/*фильтер*/

.bx_filter .bx_filter_section {
  border: none;
  background: none;
  text-shadow: none;
  border-radius: 0px;
  padding: 0;
}
.bx_filter .bx_filter_parameters_box_title {


  position: relative;
  cursor: pointer;

  display: block;
  border-radius: 5px 5px 0 0;
  border: 1px solid #e6e6e6;
  background-color: #dcd9d9;
  padding: 15px 13px 12px;
  color: #3e3e3e;
  font-size: 15px;
  font-weight: 700;

  font-family: $PTSerif;
  margin-bottom: 0;
}
.bx_filter .bx_filter_parameters_box_container {
  padding: 10px 20px;
}
.bx_filter .bx_filter_button_box,
.bx_filter .bx_filter_parameters_box {
  background-color: #e8e8e8;
  padding: 0;

  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0 !important;
}
.bx_filter .bx_filter_parameters_box_title:after {
  right: 8px;
  background: none !important;
  border: 2px solid #a6a6a6;
  border-top: none;
  border-left: none;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  transition: 0.4s;

}

.bx_filter .active .bx_filter_parameters_box_title:after {
  transform: rotate(225deg);
}
.bx_filter_input_checkbox input {
  display: none;
}
.bx_filter .bx_filter_input_checkbox .bx_filter_param_text {
  padding-left: 35px;
  margin-left: 0;
  user-select: none;
  line-height: 22px !important;
}
.bx_filter_input_checkbox input + span:before {
  content: "";
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  will-change: position, transform;
}
.bx_filter_input_checkbox input + span:after {
  content: "";
  border-bottom: 2px solid;
  border-left: 2px solid;
  width: 22px;
  height: 22px;
  border: 1px solid #00712d;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  cursor: pointer;
  will-change: position, transform;
}
.bx_filter_input_checkbox input:checked + span:after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  will-change: position, transform;
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #00712d;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 18px;
  height: 12px;
  transform: rotate(-45deg) translate(1px, 4px);
  opacity: 1;
}
.filter-col * {
  z-index: 110;
  position: relative;
}
.filter .bx_filter .bx_filter_search_button {
  @extend .btn;
  @extend .btn-yellow;
  padding: 1px 21px;
  height: auto;
}
.bx_filter .bx_filter_search_button:hover {

}
.bx_filter_title {
  display: none;
}
.bx_filter .bx_ui_slider_handle.left {
  display: block;
  margin-right: 0;
  margin-top: -16.5px;
  margin-left: -10px;
  background: url(../images/handler.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 27px;
}
.bx_filter .bx_ui_slider_handle.right {
  display: block;
  margin-top: -16.5px;
  margin-right: -10px;
  background: url(../images/handler.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 27px;
}
.bx_filter .bx_ui_slider_range {
  z-index: 80;
}
.bx_filter .bx_ui_slider_pricebar_VN {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f9f9f9));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #f9f9f9 100%);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
}
.bx_filter .bx_ui_slider_track {
  height: 6px;
  margin: 33px 0px 0;
  border: none;
}
.bx_filter .bx_ui_slider_pricebar_V {
  border: 1px solid #e7d017;
  background-image: linear-gradient(to top, #f9e121 0%, #fbef91 100%);

}
.bx_filter .bx_ui_slider_part {
  background: #8b8b8b;
}
.bx_filter_parameters_box:nth-child(1) .bx_filter_parameters_box_container {
  display: flex;
  flex-wrap: wrap;
}
.bx_filter .bx_ui_slider_track {
  width: 100%;
  order: -1;
  margin: 9px 0px 20px !important;
}
.bx_ui_slider_handle {
  transition: 0s !important;
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container input {
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: $yellow3;
  box-shadow: none;
  color: $text;
  font-size: 14px;
  font-weight: 400;
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container {
  box-shadow: none;
  background: none;
}
.bx_filter_input_container {
  display: flex !important;
  align-items: center;
  color: $text;
  font-size: 14px;
  font-weight: 400;
  margin: 0 auto;
}
.bx_filter_parameters_box_container_block:nth-child(1) .bx_filter_input_container:before {
  content: "от";
  margin-right: 6px;
}
.bx_filter_parameters_box_container_block:nth-child(2) .bx_filter_input_container:before {
  content: "до";
  margin-right: 6px;
}
.bx_ui_slider_part {
  display: none;
}
.bx_filter_block .jq-selectbox {
  width: 100%;
}
.filter-2col {
  label {
    width: 45%;
    display: inline-block !important;
  }
}
.bx_filter_param_text {
  color: $text;
  font-size: 14px;
  font-weight: 400;
}
input:checked + .bx_filter_param_text {
  color: #09642b;
}
.bx_filter_section {
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.bx_filter .bx_filter_parameters_box_container .bx_filter_input_container {
  max-width: 77% !important;
}
.bx_filter .bx_filter_parameters_box_container_block {
  margin-bottom: 13px;
}
.bx_filter_button_box .btn-gray {
  padding: 11px;
}