.container.container--catalog
    .h1 Корзина
    .cart-btns
        a(href="").btn.green-str-btn Продолжить покупки
        a(href="").btn.btn-yellow оформить заказ


    .catalog-list.row-list
        .row-title
            .cart__img Фото

            .cart__name Наименование

            .cart__price Цена

            .cart__num2 Количество

            .cart__coast Стоимость

            .cart__del Удалить

        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-green
                                +svg('check')
                                | В наличии
                                .new-icon.card__bals Новинка
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                                .balls.card__bals 12 баллов
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                                .hit-icon.card__bals Хит
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')
        .row-card
            .row.align-items-center
                .col-md-7
                    .row.align-items-center
                        .col-sm-3.col-md-auto.img-col
                            .sale-icon.card__bals--right -30%
                            .img-cont.row-img-cont
                                img(src="images/p1.jpg" alt="")
                        .col-sm-9.col-md-auto.name-col
                            .cart-name 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-desc 2 евро 2017 год Греция "60 лет Никос Казандзакис"
                            .cart-status.status-red Нет в наличии
                .col-md-5.cart-row__right
                    .row.align-items-center
                        .col-sm-4
                            .price.rub2 120
                        .col-sm-6
                            .cart-controls2
                                a(href="").btn.btn-yellow2 Подробнее
                                a(href="").btn.btn-green.buy-btn
                                    +svg('empty_cart')
                        .col-sm-2.col-md-12.col-xl-2
                            .row-icons
                                a(href="").cart-icon.cart-star.active
                                    +svg('star')
                                a(href="").cart-icon.cart-star.active
                                    +svg('libra_line')














include includes/subscribe.pug