footer.footer
    .container
        .row
            .col-md-3
                a.f-logo
                    img(src="images/f-logo.png" alt="")
                a(href="mailto:info@moneta66.ru").green-link.footer__mail info@moneta66.ru
                .contacts Екатеринбург,  Фрунзе 18


            .col-md-9
                .footer-menu
                    .row
                        .col-md-4.footer-menu__column
                            a.footer-menu__link(href="#") Каталог
                            a.footer-menu__link(href="#") Аксессуары
                            a.footer-menu__link(href="#") Собираем
                            a.footer-menu__link(href="#") Идеи для подарка
                            a.footer-menu__link(href="#") % Специальные предложения
                        .col-md-4.footer-menu__column
                            a.footer-menu__link(href="#") Меню
                            a.footer-menu__link(href="#") О компании
                            a.footer-menu__link(href="#") Интернет-магазин
                            a.footer-menu__link(href="#") Оплата и доставка
                            a.footer-menu__link(href="#") Услуги
                        .col-md-4.footer-menu__column
                            a.footer-menu__link(href="#") Новости
                            a.footer-menu__link(href="#") Статьи
                            a.footer-menu__link(href="#") Заказать предмет коллекции
                            a.footer-menu__link(href="#") Контакты


        .copyright
            .row
              .col-md-6
                  div Продолжая пользование сайтом, я выражаю согласие на обработку моих персональных данных.

              .col-md-6.text-md-right 2017 ©  “Уральский коллекционер”
a.scroll-top
include scripts.pug