.container.container--catalog
    .h1 Результаты поиска по запросу «буратино»
    .no-title По вашему запросу ничего не найдено... 
    .no-text Попробуйте найти нужный раздел в нашем каталоге или позвоните нам по телефону
        a(href="tel:+73433615727")  +7 (343) 3-615-727, <br>
        |   и мы обязательно подберем необходимый вам товар!



    .search-help
        .row
            .col-md-6.text-md-right
                img(src="images/box.png").search-help__img


            .col-md-6
                div.search-help__title Что-то не нашли?
                .search-help__controls
                    a(href="").btn.btn-green Напишите
                    div.search-help__text нам, что искали <br>  и мы постараемся Вас порадовать!
    .search__cat.text-center
        a(href="").btn.btn-gray каталог
include includes/subscribe.pug