link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700|PT+Serif:400,700|Roboto:300&subset=cyrillic,cyrillic-ext', rel='stylesheet')

link(rel="stylesheet" href="css/main.css?ver=1")

//скрипты ниже не переносить в шаблон
script(src='http://ittelo.tmweb.ru/bitrix/cache/js/s1/main/kernel_main/kernel_main.js?1507188067279015')
script(src='http://ittelo.tmweb.ru/bitrix/cache/js/s1/main/kernel_pull/kernel_pull.js?150718663231171')
script(src='http://ittelo.tmweb.ru/bitrix/js/fileman/sticker.min.js?150427353948559')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/core/core_admin.min.js?150029967522432')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/admin_tools.min.js?150029967545484')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/popup_menu.min.js?15002996759738')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/admin_search.min.js?15002996754820')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/hot_keys.min.js?150029967512333')
script(src='http://ittelo.tmweb.ru/bitrix/js/main/public_tools.min.js?150029967524131')
script(src='http://ittelo.tmweb.ru/bitrix/cache/js/s1/main/page_71ffb9593062876e0ef8a65cf7744100/page_71ffb9593062876e0ef8a65cf7744100.js?150719069560134')

script(src='http://ittelo.tmweb.ru/bitrix/components/bitrix/catalog.smart.filter/templates/.default_old/script.js')
//конец скриптов